<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>WebSockets Testing</title>
  </head>

  <body>
    <label>Province Name</label>
    <input class="province-name" type="text" />
    <input class="submit" type="submit" value"Create Province" />

    <input class="do-test" type="submit" value="Test Me" />

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/zhovsocks.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
